* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #727D71;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#canvas {
    height: 90vh;
    width: 90vh;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
}

.row {
    height: calc(90vh / 16);
    display: flex;
}

.cell {
    width: calc(90vh / 16);
    border: 1px solid #EEF0F2;
}

.paint {
    background-color: #141414;
    border: none;
}